@use '../abstracts/variables' as *;

@media (max-width: $bp-mobile) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: $bp-tablet) {
  .producto-img {
    max-width: 250px;
  }
}

@media (min-width: $bp-desktop) {
  .producto-img {
    max-width: 350px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
  
  .producto-img {
    max-width: 400px;
  }
}

@media (hover: none) {
  .item-galeria:hover {
    transform: none;
  }
}