/* =============================================
   TIPOGRAFÍA Y ELEMENTOS BÁSICOS
   ============================================= */
@use '../abstracts/variables' as *;
@use "sass:color";

body {
  color: $text-dark;
  background-color: $bg-light;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  font-family: Rubik;
}

a {
  color: $color-primary;

  &:hover {
   color: color.adjust($color-primary, $lightness: -15%);
  }
}



