/* ----- Hero section ----- */
.hero {
  position: relative;
  text-align: center;
  margin-top: 2rem; 
  margin-bottom: 2rem;

  .hero-content {
    position: relative; 
    background: #2a7f40; 
    color: white;
    padding: 1.5rem;
    margin-top: 1rem;
  }
}
