@use '../abstracts/variables' as *;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-md 5%;
  width: 100%;
  text-align: center;

  h1 {
    margin: 0 0 $spacing-md 0;
    color: $color-primary;
    width: 100%;
  }
}

/* ----- Logo ----- */
.logo {
  height: clamp(100px, 20vh, 200px);
  width: auto;
  margin: 0 auto $spacing-md auto;
  display: block;
}

@media (max-width: $bp-mobile) {
  .logo {
    height: 15vh;
  }
  
  header {
    padding: $spacing-md;
  }
}